{% extends 'templates/app.twig' %}
{% block content %}

    <navbar>
        <ul>
            <li>Home</li>
            <li>q</li>
            <li>a</li>
            {% if auth.check %}
                <li>{{ auth.user.nom }} {{ auth.user.prenom }}</li>
                <li><a href="{{ path_for('auth.signout') }}">se deconnecter</a></li>
            {% else %}
                <li><a href="{{ path_for('auth.signup') }}">s'inscrire</a></li>
                <li><a href="{{ path_for('auth.signin') }}">se connecter</a></li>
            {% endif %}

        </ul>
    </navbar>

{% endblock content %}