{% extends "templates/app.twig" %}
{% block content %}
<a href="dictionary/export">Exporter le dictionnaire</a>
<div class="row mt-4">
	{% for key, value in elements %}
		<table border="1" id="{{ loop.first ? 'table_objets' : 'table_fonctions' }}" class="display col-5 {{ loop.last ? 'offset-2' }}">
			<thead>
				<th class="w-90">{{ key }}</th>
			</thead>
			<tbody>
				{% for data in value %}
					<tr>
						<td>
							<a class="text-decoration-none" href="{{ path_for('dictionary.details', {'id': data.id}) }}">{{ data.libelle }}</a>
						</td>
						<td>
							<div class="float-right">
								<a href="{{ path_for('dictionary.details', {'id': data.id}) }}?action=edit"><i class="fas fa-pen"></i></a>
								<a href="{{ path_for('dictionary.delete', {'id': data.id}) }}?action=delete"><i class="fas fa-trash"></i></a>
							</div>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td class="text-center">
						<a class="text-decoration-none" href="dictionary/new?type={{ key == 'Objets' ? 'objet' : 'method' }}">+</a>
					</td>
				</tr>
			</tbody>
		</table>
	{% endfor %}
</div>
<!--<script type="text/javascript">
	$(document).ready(function(){
	    $('#example').DataTable( {
	    	"paginate": false,
	        "sort": false
	    });
	});
</script>-->
{% endblock %}