{% extends 'templates/app.twig' %}
{% block content %}
<form method="POST" action="update/check">
	Id : {{ id }}<br />
	Nom : <input type="text" name="nom"  value="{{ nom }}"><br />
	Prenom : <input type="text" name="prenom" value="{{ prenom }}"><br />
	Mail : <input type="text" name="mail" value="{{ mail }}"><br />
	Mot de passe : <input type="text" name="mdp" value="{{ mdp }}"><br />
	Level d'acces : {{ level }}<br />
	<input type="submit" name='valide' value="valider">
</form>
{% endblock %}