{% extends 'templates/app.twig' %}

{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ base_url() }}/jplayer/skin/css/blue.monday/css/jplayer.blue.monday.css">
	<link type="text/css" rel="stylesheet" href="{{ base_url() }}/jplayer/css/jplayer.css">
{% endblock %}

{% block jshead %}

	<script type="text/javascript" src="{{ base_url() }}/jplayer/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}/jplayer/js/jquery.jplayer.min.js"></script>

  	<script type="text/javascript">
  		$(document).ready(function(){

///////////////////////////////Suprresion du menu clique gauche////////////////////////////////////////////////

  			$(document).on('contextmenu', 'div', function(e)   
		    {
		        e.preventDefault();
		        return false;
		    });
  			var seqStart = [];
  			var seqFinish = [];

///////////////////////////////Récupération des scéances de la vidéo de la base ////////////////////////////////////////////////

		    {% for sequence in lesSequences %}
		    	seqStart.push("{{sequence.debut}}");
		    	seqFinish.push("{{sequence.fin}}");
		    {% endfor %}

///////////////////////////////initialisation de la vidéo////////////////////////////////////////////////

     	$("#jquery_jplayer_1").jPlayer({
			ready: function () {
				$(this).jPlayer("setMedia", {
					title: "{{video.lien}}",  //titre de la video
					m4v: "{{ base_url() }}/video/{{video.lien}}.mp4",		//lien de la video (complete)
					//poster: "http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"  //miniature
				});
			},
			swfPath: "{{ base_url() }}/jplayer/js/",  //emplacement jplayer
			supplied: "m4v",
			size: {
				width: "640px", //largeur de la fenetre video
				height: "360px",  //longueur de la fenetre video
				cssClass: "jp-video-360p"  //qualité vidéo
			},
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true,
			remainingDuration: true,
			toggleDuration: true,
		});

///////////////////////////////envoie du formulaire////////////////////////////////////////////////

     	$(".sequence").click(function(event){
     		let start = [];
     		let finish = [];
     		let type = [];
     		let method = [];
     		let param = [];

     		for(let i = 1; i < nbreSequence +1; i++){
	     		let tempo = $("#start" + i).val().split(':');   			
		    	let total = calculSeconde(tempo);	
	     		start.push(total);

	     		tempo = $("#finish" + i).val().split(':');   			
		    	total = calculSeconde(tempo);
	     		finish.push(total);

	     		type.push($("#type" + i).val());;

	     		method.push($("#lesMethodes" + i).val());;

	     		param.push($("#lesParametres" + i).val());;
	     	}
	     	$("#Start").val(start);
	   		$("#Finish").val(finish);
	   		$("#PseudoCode").val(type + ";" + method + ";" + param);

	     	document.getElementById("leForm").submit();

     	});

     	var repeat = false;
     	var debut = 0;
     	var fin;
     	var play = false;  // savoir si la vidéo est en cours ou non
     	var max; // (fin video - debut video)
     	var jp = $('#jquery_jplayer_1'), jpData = jp.data('jPlayer');
     	var nbreSequence = 0;
     	var first = true;
     	var selectStart = 0;
     	var selectFinish = 0;
     	let pourcent = 0;
     	let ajoutSeq = true;


///////////////////////////////affichage des séqences utilisé sur la timeline////////////////////////////////////////////////

     	function afficherIndisponible(seconde){
     		let duree = seconde;

     		pourcent = duree / 100;
     		let HTML = '<div id="indicator"></div><div id="selection"></div>';
     		for (var i = 0; i < seqStart.length; i++) {
     			let width = (seqFinish[i] - seqStart[i]) / pourcent;
     			let margin = (seqStart[i] / pourcent) - (80 / (640 / 100));
     			HTML += "<div style='width:"+width+"%; margin-left:"+margin+"%;height:8px;background-color:red;opacity:0.8;display:inline-block;z-index:3;position:absolute'></div>";
     		}
     		$("#progressBar").html(HTML);
     	}

///////////////////////////////retourne un total en seconde////////////////////////////////////////////////

     	function calculSeconde(tempo){

     		for(var i = 0; i < tempo.length; i++) {
	    		tempo[i] = Math.abs(parseInt(tempo[i]));
	    	}
	    	if(tempo.length == 2){
	    		let temp = tempo[0];
	    		tempo[0] = tempo[1];
	    		tempo[1] = temp;
	    	}
	    	else if(tempo.length ==3){
	    		let temp = tempo[0];
	    		tempo[0] = tempo[2];
	    		tempo[2] = temp;
	    	}
	    	let total = 0;
	    	for(var i = 0; i < tempo.length; i++){
	    		total += tempo[i] * Math.pow(60, i);
	    	}
     		return total;
     	}

///////////////////////////////retourne un temps en format time////////////////////////////////////////////////

     	function calculFormatTime(nombre){
     		let reste=nombre;
			let total='';

     		let nbHours=Math.floor(reste/3600);
			reste -= nbHours*3600;
 
			let nbMinutes=Math.floor(reste/60);
			reste -= nbMinutes*60;
 
			let nbSeconds=reste;

			if (nbHours>0){
				total += nbHours + ":";
			}
 
			if (nbMinutes>0){
				total += nbMinutes + ":";
			}
			else{
				total += "0:";
			}
			if(nbSeconds < 10){
				total += "0" + nbSeconds;
			}
			else{
				total += nbSeconds;
			}

     		return total;
     	}

///////////////////////////////lance la vidéo////////////////////////////////////////////////

    	$(".jp-play").click( function(event) {  //clique sur le bouton play
    		var tempo = $(".jp-duration").html().split(':');
    		
	    	let total = calculSeconde(tempo);

	    	

	    	if(first){    		
	    		fin = total;
				max = (fin - debut);
				first = false;
				afficherIndisponible(total);
	    	}
       	
			
	    	if(jpData.status.currentTime !== undefined){
	    		if(jpData.status.currentTime > 0){
	    			$("#jquery_jplayer_1").jPlayer("play", jpData.status.currentTime); //demarre la video ou elle a était arreté
		    	}
		    	else{
		    		$("#jquery_jplayer_1").jPlayer("play", debut); // demarre la video du debut (int debut de la video en s)
		    	}
	    	}
	    	else{
	    		$("#jquery_jplayer_1").jPlayer("play", debut);  // demarre la video du debut (int debut de la video en s)
	    	}
	    	play = true; // la video est en cours
	    	//imprimer_bloc("miniature","jp_container_1");
	    });

///////////////////////////////stop la vidéo////////////////////////////////////////////////

	    $(".jp-stop").click( function() {  //clique sur le bouton pause
	    	play = false; // la video est en pause
	     	$("#jquery_jplayer_1").jPlayer("pause", jpData.status.currentTime); //ammène le curseur a l'endroit ou a était arreté la vidéo
	    });

///////////////////////////////active/desactive le repeat////////////////////////////////////////////////

	    $(".jp-repeat").click(function(){
	    	if(repeat == false){
	    		repeat = true;
	    	}
	    	else if(repeat == true){
	    		repeat = false;
	    	}
	    });

///////////////////////////////clique gauche sur la timeline////////////////////////////////////////////////

	    $("#progressBar").click( function(event){	// clique sur la barre de progression
	    	var x = document.getElementById("progressBar"); 
	    	var marginLeft = document.getElementsByClassName("container");
	    	//console.log("decalage gauche : " + x.offsetLeft);
	    	var start = ((event.clientX - (parseInt($('.container').css('padding-left').slice(0, 2)) + marginLeft[0].offsetLeft)) / x.offsetWidth); // event.clientX => abscisse de la souris || offsetwidth => taille de la barre de progression | calcul pourcentage de la video pour la barre de progression
	    	if(play == true){ 
	    		$("#jquery_jplayer_1").jPlayer("play", start * max + debut); // si la video est en cours la lancer ou le clique a était éffectué
	    	}
	    	else{
	    		$("#jquery_jplayer_1").jPlayer("pause", start * max + debut); // si la vidéo est en pause mettre le curseur de la vidéo ou le clique a était éffectué
	    	}
	    });

///////////////////////////////clique droit sur la timeline////////////////////////////////////////////////

	    $("#progressBar").contextmenu(function(event){
	    	var x = document.getElementById("progressBar"); 
	    	//console.log("decalage gauche : " + x.offsetLeft);
	    	var start = ((event.clientX - (event.clientX - event.offsetX)) / x.offsetWidth); // event.clientX => abscisse de la souris || offsetwidth => taille de la barre de progression | calcul pourcentage de la video pour la barre de progression
	    	if(play == true){ 
	    		$("#jquery_jplayer_1").jPlayer("play", start * max + debut); // si la video est en cours la lancer ou le clique a était éffectué
	    	}
	    	else{
	    		$("#jquery_jplayer_1").jPlayer("pause", start * max + debut); // si la vidéo est en pause mettre le curseur de la vidéo ou le clique a était éffectué
	    	}
	    });
		
///////////////////////////////Ajout d'une séquence////////////////////////////////////////////////

		$(".ajouterSequence").click(function(event){

			if(ajoutSeq){
				if($("#start" + nbreSequence).val() == "0:NaN" || $("#start" + nbreSequence).val() == "" || $("#finish" + nbreSequence).val() == "0:NaN" || $("#finish" + nbreSequence).val() == ""){
				}
				else{

					seqStart.push(selectStart);
					seqFinish.push(selectFinish);
					nbreSequence += 1;

					let element = document.createElement("div");
					element.setAttribute("id",nbreSequence);
					element.setAttribute("class","StartFinish");
					document.getElementById("leForm").appendChild(element);

					element = document.createElement("button");
					element.setAttribute("id", "Deb" + nbreSequence);  
					element.setAttribute("class", "start");   
					element.setAttribute("type", "button");
					element.setAttribute("value", "Début : "); 
					document.getElementById(nbreSequence).appendChild(element);
					$("#Deb"+ nbreSequence).html("Début");

					element = document.createElement("input");
					element.setAttribute("name", "start" + nbreSequence);
					element.setAttribute("id", "start" + nbreSequence);       
					element.setAttribute("type", "text"); 
					element.setAttribute("required", "required");      
					element.setAttribute("disabled", "disabled");     
					element.setAttribute("style", "width:100px");   
					document.getElementById(nbreSequence).appendChild(element);

					element = document.createElement("button");
					element.setAttribute("id", "Fin" + nbreSequence);  
					element.setAttribute("class", "finish");  
					element.setAttribute("type", "button"); 
					element.setAttribute("value", "Fin : "); 
					element.setAttribute("disabled", "disabled"); 
					document.getElementById(nbreSequence).appendChild(element);
					$("#Fin"+ nbreSequence).html("Fin");

					element = document.createElement("input");
					element.setAttribute("name", "finish" + nbreSequence);
					element.setAttribute("id", "finish" + nbreSequence);       
					element.setAttribute("type", "text"); 
					element.setAttribute("required", "required");      
					element.setAttribute("disabled", "disabled");     
					element.setAttribute("style", "width:100px");   
					document.getElementById(nbreSequence).appendChild(element);

					element = document.createElement("input");
					element.setAttribute("name", "list" + nbreSequence);
					element.setAttribute("id", "type" + nbreSequence);       
					element.setAttribute("list", "objet" + nbreSequence);   
					element.setAttribute("type", "text");
					document.getElementById(nbreSequence).appendChild(element);

					element = document.createElement("datalist");
					element.setAttribute("id", "objet" + nbreSequence);       
					document.getElementById(nbreSequence).appendChild(element);

					ajoutSeq = false;

					$(".sequence").prop("disabled",'disabled');

					$("#type" + nbreSequence).keyup(function(event){
						if($("#lesParametres" + nbreSequence).val() != "" && $("#lesMethodes" + nbreSequence).val() != "" && $("#type" + nbreSequence).val() != "" && $("#Deb" + nbreSequence).prop("disabled") == true && $("#Fin" + nbreSequence).prop("disabled") == true){
								ajoutSeq = true;
								$(".sequence").prop("disabled",false);
						}
						else{
							$(".sequence").prop("disabled",'disabled');
							ajoutSeq = false;
						}

						if($("#type" + nbreSequence).val() != ""){
							$.ajax({
						        url : '../object/' + $("#type" + nbreSequence).val(), // La ressource ciblée
						        type : 'GET', // Le type de la requête HTTP.
						        success : function(code_html, statut){
						       		let tab = JSON.parse(code_html);
						       		console.log(tab);
						       		let laListe = document.getElementById("objet" + nbreSequence);
						       		let HTML = "";
						       		tab.forEach(function(e){
						       			HTML += "<option value='"+e+"'>";    
						       		});
						       		laListe.innerHTML = HTML;
						        }
						    });
						}
					});

					element = document.createElement("input");
					element.setAttribute("name", "methodes" + nbreSequence);
					element.setAttribute("id", "lesMethodes" + nbreSequence);       
					element.setAttribute("list", "libelle" + nbreSequence);   
					element.setAttribute("type", "text");
					document.getElementById(nbreSequence).appendChild(element);

					element = document.createElement("datalist");
					element.setAttribute("id", "libelle" + nbreSequence);       
					document.getElementById(nbreSequence).appendChild(element);

					$("#lesMethodes" + nbreSequence).keyup(function(event){
						if($("#lesParametres" + nbreSequence).val() != "" && $("#lesMethodes" + nbreSequence).val() != "" && $("#type" + nbreSequence).val() != "" && $("#Deb" + nbreSequence).prop("disabled") == true && $("#Fin" + nbreSequence).prop("disabled") == true){
								ajoutSeq = true;
								$(".sequence").prop("disabled",false);
						}
						else{
							$(".sequence").prop("disabled",'disabled');
							ajoutSeq = false;
						}

						if($("#lesMethodes" + nbreSequence).val() != ""){
							$.ajax({
						        url : '../method/' + $("#lesMethodes" + nbreSequence).val(), // La ressource ciblée
						        type : 'GET', // Le type de la requête HTTP.
						        success : function(code_html, statut){
						       		let tab = JSON.parse(code_html);
						       		console.log(tab);
						       		let laListe = document.getElementById("libelle" + nbreSequence);
						       		let HTML = "";
						       		tab.forEach(function(e){
						       			HTML += "<option value='"+e+"'>";    
						       		});
						       		laListe.innerHTML = HTML;
						        }
						    });
						}
					});

					element = document.createElement("input");
					element.setAttribute("name", "parametre" + nbreSequence);
					element.setAttribute("id", "lesParametres" + nbreSequence);       
					element.setAttribute("list", "params" + nbreSequence);   
					element.setAttribute("type", "text");
					document.getElementById(nbreSequence).appendChild(element);

					element = document.createElement("datalist");
					element.setAttribute("id", "params" + nbreSequence);       
					document.getElementById(nbreSequence).appendChild(element);

					$("#lesParametres" + nbreSequence).keyup(function(event){
						if($("#lesParametres" + nbreSequence).val() != "" && $("#lesMethodes" + nbreSequence).val() != "" && $("#type" + nbreSequence).val() != "" && $("#Deb" + nbreSequence).prop("disabled") == true && $("#Fin" + nbreSequence).prop("disabled") == true){
								ajoutSeq = true;
								$(".sequence").prop("disabled",false);
						}
						else{
							$(".sequence").prop("disabled",'disabled');
							ajoutSeq = false;
						}
					});

					$(".start").unbind('click').click(function(event){
						this.setAttribute("disabled","disabled");
						$("#Fin"+nbreSequence).prop('disabled',false);
						selectStart = calculFormatTime(Math.round(jpData.status.currentTime));
						$("#start" + nbreSequence).val(selectStart);
					});

					$(".finish").unbind('click').click(function(event){
						this.setAttribute("disabled","disabled");
						selectFinish = calculFormatTime(Math.round(jpData.status.currentTime));
						$("#finish" + nbreSequence).val(selectFinish);

						if($("#lesParametres" + nbreSequence).val() != "" && $("#lesMethodes" + nbreSequence).val() != "" && $("#type" + nbreSequence).val() != "" && $("#Deb" + nbreSequence).prop("disabled") == true && $("#Fin" + nbreSequence).prop("disabled") == true){
								ajoutSeq = true;
								$(".sequence").prop("disabled",false);
						}
						else{
							$(".sequence").prop("disabled",'disabled');
							ajoutSeq = false;
						}
					});
				}
			}    
		});

		setInterval(function() {
			if ((jpData.status.currentTime > fin || jpData.status.currentTime < debut) && jpData.status.currentTime != 0) {
				if(repeat == true){
					$("#jquery_jplayer_1").jPlayer("play",debut);
				}
				else{
					jp.jPlayer('stop'); // si le temps de la vidéo est supérieur a la fin ou le début de la séquence celle si s'arrete
				}
			}

			if(jpData.status.currentTime != 0){
				var x = document.getElementById("indicator");
			   	if((((jpData.status.currentTime - debut) / max)* 100) > 100){ // si la séquence est fini stopper la barre de progression a 100%
			   		x.style.width = "100%";
			   		if(repeat == false){
						play = false;
			   		}	   		
			   	}
			   	else{  //sinon augementer la barre de progression
			   		x.style.width = ((jpData.status.currentTime - debut) / max)* 100 + "%";
			   	}

			   	var HTML = "";
			   	if(max >= 60){
			   		var total = Math.trunc(jpData.status.currentTime - debut);
			   		if(total >= 60){
			   			var nbreMinutes = Math.trunc(total / 60);
			   			HTML += nbreMinutes + ":";
			   			total -= (nbreMinutes * 60);
			   		}
			   		else{
			   			HTML += "0:";
			   		}
			   		if(total > 10){
			   			HTML += total;
			   		}
			   		else{
			   			HTML += "0" + total;
			   		}
			   		$("#jp-current-time").html(HTML);
			   		HTML = "";
			   		total = max - Math.trunc(jpData.status.currentTime - debut);

			   		if(total >= 60){
			   			nbreMinutes = Math.trunc(total / 60);
			   			HTML += nbreMinutes + ":";
			   			total -= (nbreMinutes * 60);
			   		}
			   		else{
			   			HTML += "0:";
			   		}
			   		if(total >= 10){
			   			HTML += total;
			   		}
			   		else{
			   			HTML += "0" + total;
			   		}
			   		$("#jp-duration").html(HTML); 
			   	}
			   	else{
			   		HTML += "0:";
			   		if((Math.round(jpData.status.currentTime - debut)) >= 10){
			   			HTML += Math.round(jpData.status.currentTime - debut);
			   		}
			   		else{
			   			HTML += "0" + Math.round(jpData.status.currentTime - debut);
			   		}
			   		$("#jp-current-time").html(HTML);

			   		HTML = "0:";

			   		if((max - Math.round(jpData.status.currentTime - debut)) >= 10 ){
			   			HTML += (max - Math.round(jpData.status.currentTime - debut));
			   		}
			   		else{
			   			HTML += "0" + (max - Math.round(jpData.status.currentTime - debut));
			   		}
			   		$("#jp-duration").html(HTML);  		
			   	}	   	
			}
			   
		},500); 
	});
  	</script>

{% endblock %}


{% block content %}
<div id="config_val_face"></div>
<div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player">
	
	<div class="jp-type-single">
		<div class="jp-details">
		</div>
		<div id="jquery_jplayer_1" class="jp-jplayer">
			
		</div>
		<div class="jp-gui">
			<div class="jp-interface">
				<div id="invisible" class="jp-current-time" role="timer" aria-label="time"></div>
				<div id="invisible" class="jp-duration" role="timer" aria-lable="time"></div>

				<div id="progressBar">

				</div>


				<div class="duree">
					<div id="jp-current-time" role="timer" aria-label="time">&nbsp;
					</div>
					<div id="jp-duration" role="timer" aria-label="duration">&nbsp;
					</div>
				</div>
				<div class="jp-controls-holder">
					<div class="jp-volume-controls">
						<button class="jp-mute" role="button" tabindex="0">mute</button>
						<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value">
								
							</div>
						</div>
					</div>
					<div class="jp-controls">
						<button id="play" class="jp-play" role="button" tabindex="0">play</button>
						<button class="jp-stop" role="button" tabindex="0">stop</button>
					</div>
					<div class="jp-toggles">
						<button class="jp-repeat" role="button" tabindex="0">repeat</button>
						<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
					</div>
				</div>			
			</div>
			<!-- début form -->
			<form id="leForm" name="createSequence" method="POST" action='{{path_for("PostVideo")}}'>
				<div id="bloc">
					<button class="ajouterSequence" type="button">Ajouter une sequence</button><br/> 
					<button class="sequence" type="button" disabled="disabled">envoie</button>
				</div>		
				<input id="Start" type="hidden" name="capStart" value="0"/>
				<input id="Finish" type="hidden" name="capFinish" value="0"/>
				<input id="PseudoCode" type="hidden" name="pseudocode" value="0"/>

				<input id="idVideo" type="hidden" name="idVideo" value="{{idVideo}}"/>
			</form>	<!-- fin form -->
			<div id="lesCommentaires">
				
			</div>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>	
{% endblock %}